*{
    padding: 0%;
    margin: 0%;
   box-sizing: border-box;
   /* border: 1px solid black; */
   
}
body{
    width: 1440px;
    min-height: 4774px;
    background-color: #FFFFFF;
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 500;
    color: #5E6282;
    /* transform: scale(117%); */
    /* overflow: hidden; */

}