._6{
/* margin-top: 4rem;
margin-left: 3rem;
margin-right: 3rem ; */
min-height: 10rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.section6_images{
    
    max-width:80%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;
    justify-content: center;
}
.section6_images img{
    width: 50%;
}