._3{
    

}
.section3_box{
    /* height: 40rem; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    gap: 4rem;
    padding: 5rem;
}
.section3_box_heading_divs{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.section3_cards_box{
    width: 1102px;
    /* height: 617px; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    gap: 2%;
    /* padding: 1.5rem; */
    /* background-color: blueviolet; */
}

.section3_box_cards_content img{
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
    /* border-radius: 12px 12px 0 0; */
}
.section3_box_cards_content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.card_text{
    
    /* width: 315px;
    height: 130px; */
    display: flex;
    flex-direction: column;
    /* align-self: baseline; */
    /* margin-left: 1rem; */
}
.card_text1{
    margin-top: .5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    gap: 11rem;
}
.card_text2{
    padding: .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}