._5{
    min-height: 40rem;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 1rem;
  }
  
  
  .section5_main_box{
    min-width: 80%;
    max-width: 30%;
    /* min-height: 492px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    /* margin-left:10rem;
    margin-right: 10rem; */
    gap: 5em;
    /* border: 1px solid black; */
    
  }
  
  .section5_box1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding-top: 2rem;
  }
.section5_textblock1 {
    position: relative;
    bottom: -3rem;
}
 .section5_icon img{
    width: 5rem;

 }
  .section5_image{
    display: flex;
    
    overflow:hidden;
  
  }
  .section5_image img{
    /* width: 100%; */
    
  }
  
  .section5_box2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* text-align: center; */
    padding-top: 2rem;
    gap: 1rem;
  }
  .section5_avatar img{
    width: 5rem;
    border-radius: 50%;
  }
  /* .section5_avatar{
    position: relative;
    top: -3rem;
  } */
  .section5_user_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  